/* regular - 400 */
@font-face {
  font-family: "Luxia";
  src: url(/font/Luxia-Display.otf) format(otf),
    url(/font/Luxia-Regular.otf) format(otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins";
  font-size: var(--font-size-md);
  text-decoration: none;
  color: var(--gradient-primary);
  background-color: var(--color-background);
}
