/* regular - 400 */
@font-face {
  font-family: "Luxia";
  src: url("/font/Luxia-Display.otf") format("otf"),
    url("/font/Luxia-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins";
  font-size: var(--font-size-md);
  text-decoration: none;
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luxia";
  font-weight: 400;
  background-image: var(--gradient-primary);
  color: transparent;
  background-clip: text;
}
