/* Design Token */

:root {
  /* colors */
  --color-text-contrast: #ebd16d;
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #d2d2d2;

  /* Background */
  --color-background: #242424;

  /* Gradient */
  --gradient-primary: linear-gradient(
    90deg,
    rgb(48, 54, 92) 0%,
    rgb(35, 65, 85) 100%
  );

  /* Fonts */
  --font-size-hero: 5.625rem;
  --font-size-title: 5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.938rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  /* font weight  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
