.header {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 10px 0px;
}

.ul-header {
  display: flex;
  gap: 50px;
}
.ul-header a:hover {
  color: var(--color-text-contrast);
}
